:root {
   --color-primary-dark: #31261a;
   --color-primary-light: #faf4ea;
   --color-brand-light: #819b57;
   --color-brand-dark: #465929;
}

/* Base */
body {
   color: var(--color-primary-dark);
}

ul {
   list-style-type: none;
}

/* Button */
header .button {
   color: var(--color-primary-light);
   border-radius: 8px;
   border: 2px solid var(--color-brand-light);
   background-color: var(--color-brand-light);
   cursor: pointer;
}

.button:hover {
   color: var();
   background-color: transparent;
}

/* Link */
.link {
   color: var(--color-primary-light);
}

.link:hover {
   color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
   color: var(--color-primary-light);
}

.hero-title .accent {
   color: rgba(128, 153, 86, 0.6);
}

/* Advantages section */
.advantages-list {
   color: var(--color-primary-light);
   background-color: var(--color-brand-light);
}

.section-title .accent {
   color: var(--color-brand-dark);
}
